<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Hello {{user.Username}}!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('index', id=user.UserId) }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('tickets', id=user.UserId) }}">Tickets</a>
        </li>
          <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('admin', id=user.UserId)}}" style="color: red;">Admin</a>
        </li>
      </ul>

      <span class="navbar-text">Balance: €{{user.Balance}}</span>
      <a href="{{ url_for('signin') }}"><button id="logout" type="submit" class="btn text-dark">Logout</button></a>
    </div>
  </nav>